.faq_title{
    border-bottom: solid 2px #F17456;    
}

.faq_name{
    font-family: 'Signika', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.faq_text{
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-weight: normal;
}